.wrapper {
    background-size: 400vh;
    height: 310vh;
    text-align: center;
    font-family: Akshar;
    padding: 0;
}
.blur {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 70px 150px;
    width: 100%;
    height: 310vh;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
.blur1 {
    box-sizing: border-box;
    padding: 200px 200px;
    width: 100%;
    height: 310vh;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}
li {
    padding-top: 30px;
    color: white;
    font-size: 30px;
    list-style-type: none;
} 
ul:first-child {
    margin-top: 75px;
}
ul {
    margin: 0;
    padding: 0;
}
.cloth {
    width: 100px;
    margin: 20px auto;
}
.trous {
    width: 140px;
}
.tie {
    padding: 0px;
    display: inline;
    width: 70px;
    margin: 10px auto;
}
.belt {
    width: 120px;
    margin: 30px auto 10px auto;
}
.shoes {
    width: 200px;
}
.shave {
    width: 200px;
}
.deod {
    margin: 10px auto;
    width: 200px;
}
.clothes {
    margin: 20px auto;
    display: inline;
    width: 100px;
}
.scarf {
    width: 200px;
}
.nail {
    width: 200px;
}
.heels {
    width: 200px;
}
.bag {
    width: 200px;
}
.eye {
    margin: 30px auto;
    width: 250px;
}
.inside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.obl, .obl1 {
    max-height: 200px;
}
.map {
    max-height: 200px;
    width: 100px;
    fill: white;
}

.blur1 p {
    margin: 0;
    font-size: 40px;
    color: white;
    text-align: left;
}
.obl1 p {
    font-family: Radja;
    font-weight: 900;
}
